:root {
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: #000000;
    --boder: 0.1rem solid rgba(255, 255, 255, 0.3);
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: var(--bg);
}

section {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;

}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: var(--bg);
}

header section {
    display: flex;
    align-items: center;
    gap: 12rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1rem;  /* Exemplo: 2rem de espaço na esquerda */
    padding-right: 1rem; /* Exemplo: 2rem de espaço na direita */
}
.navbar a {
    margin: 0 1rem;
    font-size: 1.8rem;
    color: #ffffff;
}

.navbar a:hover {
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
    padding-bottom: 0.5rem;
    font-size: 2rem;
}
.logo1 {
    /* Defina o valor exato que você quer para a margem esquerda da logo */
    margin-left: 15rem; /* Por exemplo, 3rem. Ajuste este valor conforme necessário */
    /* Você também pode adicionar uma margem à direita se quiser espaço entre a logo e os ícones */
    margin-right: 1.5rem; /* Exemplo de margem entre logo e ícones */
    height: 7rem;
    width: auto;
}
.icons img{
    margin: 1rem;
    cursor: pointer;
}
.icons img:hover{
    width: 40px;
    height: 40px;
}
.btn{
    background:var(--main-color) ;
    color: #fff;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
    
}

.btn .hover{
    letter-spacing: 0.2rem;
    transform: scale(1.5rem);
}

.home-container{
    background:url("../assets/fotohome01.jpg") ;
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.home-container section{
    display: flex;
    align-items: center;
    min-height: 100vh;
}
.content{
    max-width: 60rem;
}
.content h3{
    color: #fff;
    font-size: 6rem;
}
.content p{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.8;
    padding: 1 0rem;
}
.titulo{
    font-size: 5rem;
    color: var(--main-color);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.titulo span{
    color: #fff;
    text-transform: uppercase;
}
.sobre .row{
    display: flex;
    align-items: center;
    background-color: var(--black);
    gap: 1.8rem;
}
.sobre .row .content{
    padding: 2rem;

}
.sobre .row .content h3{
    font-size: 3rem;
    color: #fff;
}
.sobre .row .content p{
    font-size: 1.5;
    color: #fff;
    padding: 1rem 0;
    line-height: 1.8rem;

}